/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e6e6fa;
}

/* Styles for headings using Montserrat */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', serif;
    color: #5f9ea0;
}

#biography {
    background-color: #9370db;
    color: #ffffff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 10px 0;
}

figcaption {
    font-style: italic;
}

/* Mobile-first styles */
.container {
    width: 100%;
    padding: 0 15px;
}

/* Media query for tablets */
@media (min-width: 600px) {
    .container {
        width: 85%;
        padding: 0 30px;
    }
}

/* Media query for desktops */
@media (min-width: 1000px) {
    .container {
        width: 70%;
        margin: 0 auto; 
    }
}

a {
    color: #1e90ff;
    text-decoration: none;
}
a:hover {
    color: #000080;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #b0c4de;
    padding: 8px;
    text-align: left;
}
caption {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
    color: #6a5acd;
}

nav {
    background: #4169e1;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    margin: 0 10px;
}
nav a:hover {
    color: #b0e0e6;
}

#contact {
    background-color: #add8e6;
    padding: 10px;
    margin-top: 20px;
}

footer {
    background-color: #483d8b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #f8f8ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#btn-alert {
    cursor: grab;
    text-decoration: wavy;
    color: rgb(9, 9, 14);
}

.even {
  color: rgb(128, 0, 70);
}

.odd {
  color: rgb(64, 20, 177);
}
